body {/*after i´ll finish the linktree design i need to change some of this zone: the body probably needs to take the main container css properties*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;/*change*/
}

#main-container{
    display: inline-flex;
    flex-direction: column;
    width: 430px;
    height: 932px;
    background-color: beige;/*change*/
    border: none;
    border-radius: 10px;
    padding: 2.2rem;
}

/*Personal information*/

#personal-info-container {
    display: flex;
    flex-direction: column;
    height: 42%;
    background-color: blue;
}

#profile-pic {
    position: relative;
    align-self: center;
    width: 6rem;
    height: 6rem;
    border: 1px solid black;
    border-radius: 30px 100px 100px;
    margin: 1em 0;
}

#name-description {
    position: relative;
    text-align: center;
    border: 1px solid black;
    height: 0;
}

#company {
    position: relative;
    text-align: center;
    border: 1px solid black;
    height: 5rem;
}

/*Icons*/

#media-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8%;
    background-color: chartreuse;
    padding: 0 2rem;
}

.icon-container {
    position: relative;
    width: 2.3rem;
    height: auto;
    border: 1px solid black;
    padding: 0.4em;
}

#ig-icon {
    background-image: url(../img/coffee-bean-solid-24.png);
    background-repeat: no-repeat;
    background-position: center;
}

/*links container*/

#link-tree-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 55%;
    background-color: black;
    padding: 1.2rem 1.2rem;
} 

.link-container {
    justify-content: center;
    justify-self: center;
    border: 1px solid white;
    border-radius: 15%;
}

/*developers brand*/

#powered-by-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 7%;
    background-color: blueviolet;
}


